.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*, *:before {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}


body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: -webkit-linear-gradient(left, #B2EF9B, #DAFF7D); */
  /* background: -webkit-linear-gradient(left, #FF4747, #FF9D47); */
  background: -webkit-linear-gradient(left, #FF7B9C, #FFC759);
  font-family: 'Nunito', sans-serif;
}

input, button {
  background: none;
  border: none;
  outline: none;
}


.const { 
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  background: white;
}


.form {
  position: relative;
  width: 640px;
  height: 100%;
  padding: 50px 30px;
  -webkit-transition: -webkit-transform 1.2s ease-in-out;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}


h2 {
  width: 100%;
  font-size: 30px;
  text-align: center;
}


label {
  display: block;
  width: 260px;
  margin: 25px auto;
  text-align: center;
}

label span {
  font-size: 14px;
  font-weight: 600;
  color: #505f75;
  text-transform: uppercase;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(109, 93, 93, 0.4);
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

button {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 36px;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  background: -webkit-linear-gradient(left, #FFC759, #FF7B9C);
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #0c0101;
  cursor: pointer;
}

.social-media {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.social-media ul {
  list-style: none;
}

.social-media ul li {
  display: inline-block;
  cursor: pointer;
  margin: 25px 15px;
}

.social-media img {
  width: 40px;
  height: 40px;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: 640px;
  top: 0;
  width: 900px;
  height: 100%;
  padding-left: 260px;
  background: white;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 260px;
  height: 100%;
  padding-top: 360px;
}

.img:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: 260px;
  height: 100%;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  transition: -webkit-transform 1.2s ease-in-out;
  transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 768px) {
  .const {
      width:300px;
      height: 500px;
      position: relative;
      overflow: hidden;
  }

  .form {
      position: relative;
      width: 200px;
      height: 100%;
      padding: 30px 20px;
      -webkit-transition: -webkit-transform 1.2s ease-in-out;
      transition: -webkit-transform 1.2s ease-in-out;
      transition: transform 1.2s ease-in-out;
      transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
  }

  h2 {
      width: 100%;
      font-size: 30px;
      text-align: center;
  }

  .social-media {
      width: 100%;
      text-align: center;
      margin-top: 20px;
  }
  
  .social-media ul {
      list-style: none;
  }
  
  .social-media ul li {
      display: inline-block;
      cursor: pointer;
      margin: 5px 5px;
  }
  
  .social-media img {
      width: 16px;
      height: 17px;
  }
}